.small-card__container {
    width: 100%;
}

.small-card__container-content {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.small-card__img > img {
    width: 100%;
    height: 100px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
