/* You can add global styles to this file, and also import other style files */
* {
    background-color: #fbf7f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0c0d0c;
    font-family: "Segoe UI", sans-serif;
}

a {
    text-decoration: none;
}
